* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 16px;
  position: fixed;
  background-color: white;
  z-index: 9;
}
.container {
  width: 1140px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.manu-item {
  padding: 25px 0px;
}
.manu-item li {
  list-style: none;
  display: inline-block;
  margin-left: 11px;
  margin-right: 14px;
  margin-top: 8px;
}
.manu-item a {
  font-size: 16px;
  color: #0071cc;
  font-weight: 500;
}
.manu-item :hover {
  color: #1e266d;
}
.h-btn {
  margin-top: 2%;
}
.Signin :hover {
  background-color: #0071cc;
}
.h-btn button {
  background-color: #2e367d;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.banner {
  width: 100%;
}
.b-content {
  display: flex;
}
.b-left {
  flex-basis: 48%;
  padding-top: 230px;
}
.b-left h1 {
  color: #1e266d;
  font-size: 45px;
  font-weight: 700;
}
.b-left p {
  color: #1e266d;
}
.b-right {
  flex-basis: 50%;
}
.b-right img {
  position: absolute;
  right: 0px;
  top: 120px;
}
.b-left p {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 22px;
  color: #1e266d;
  line-height: 28px;
  font-weight: 300;
}
.b-btn {
  background-color: #2e367d;
  color: white;
  padding: 16px 30px;
  border: none;
  font-size: 16px;
  margin-top: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.b-left a :hover {
  background-color: #0071cc;
}
.infor {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 16px;
}
.in-content {
  display: flex;
  justify-content: space-between;
  margin-top: 240px;
  margin-bottom: 20px;
}
.in-left {
  background-color: #f9799a;
  border-radius: 8px;
  padding: 20px 15px 10px 15px;
  display: block;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  flex-basis: 33.33%;
  margin-right: 35px;
}
.in-content p {
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.in-midd {
  background-color: #61c4d8;
  border-radius: 8px;
  padding: 20px 15px 10px 15px;
  display: block;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  flex-basis: 33.33%;
  margin-right: 35px;
}
.in-right {
  background-color: #1e266d;
  border-radius: 8px;
  padding: 20px 15px 10px 15px;
  display: block;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  flex-basis: 33.33%;
  margin-right: 0px;
}
.project {
  width: 100%;
}
.project-content {
  display: flex;
}
.project-left {
  flex-basis: 42%;
  margin-top: 25px;
  padding-top: 40px;
}
.project-left h2 {
  color: #07324f;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 46px;
}
.project-right {
  flex-basis: 60%;
  margin: 0px -28px 0px 61px;
}
.project-left span {
  color: #171f3c;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 300;
}
.project-left p {
  color: #526375;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0px;
}
.project-left button {
  background-color: #2e367d;
  color: white;
  padding: 16px 30px;
  border: none;
  font-size: 16px;
  margin-top: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.project-left a :hover {
  background-color: #0071cc;
}
.services {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}
.ser-content {
  display: flex;
}
.ser-right span {
  color: #171f3c;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 300;
}
.ser-right h2 {
  font-size: 45px;
  color: #07324f;
  line-height: 46px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 0px;
}
.ser-right p {
  color: #526375;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0px;
}
.ser-right button {
  background-color: #2e367d;
  color: white;
  padding: 19px 30px;
  border: none;
  font-size: 16px;
  margin-top: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.ser-right a :hover {
  background-color: #0071cc;
}
.ser-right {
  flex-basis: 42%;
}
.ser-left {
  flex-basis: 58%;
  margin: 0px -4px 0px -32px;
}
.ser-background {
  background-color: #f5f7fa;
}
.earn {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}
.er-content {
  display: flex;
}
.er-left span {
  color: #171f3c;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 300;
}
.er-left h2 {
  font-size: 45px;
  color: #07324f;
  line-height: 46px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 0px;
}
.er-left p {
  color: #526375;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-right: 30px;
}
.er-left button {
  background-color: #2e367d;
  color: white;
  padding: 16px 30px;
  border: none;
  font-size: 16px;
  margin-top: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.er-left a :hover {
  background-color: #0071cc;
}
.er-left {
  flex-basis: 42%;
}
.er-right {
  flex-basis: 58%;
  width: 100%;
  margin: 0px -31px 0px -5px;
}
.card {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}
.cd-content {
  display: flex;
}
.cd-right span {
  color: #171f3c;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 300;
}
.cd-right h2 {
  font-size: 45px;
  color: #07324f;
  line-height: 46px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 0px;
}
.cd-right p {
  color: #526375;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0px;
}
.cd-right button {
  background-color: #2e367d;
  color: white;
  padding: 16px 30px;
  border: none;
  font-size: 16px;
  margin-top: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.cd-right a :hover {
  background-color: #0071cc;
}
.cd-right {
  flex-basis: 42%;
}
.cd-left {
  flex-basis: 58%;
}
.cd-left img {
  width: 80%;
  display: block;
  margin: 50px auto 0;
}
.motiv {
  width: 100%;
  padding-top: 80px;
}
.motiv-content {
  margin-right: -15px;
  margin-left: -15px;
}
.motiv-up h2 {
  font-size: 45px;
  color: #07324f;
  line-height: 46px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}
.motiv-down {
  width: 100%;
  vertical-align: inherit;
}
.nav-tabs {
  width: 100%;
  padding-bottom: 80px;
}
.nav-tap-content {
  display: flex;
  padding: 1.5rem 2.5rem 0;
}
.idea {
  flex-basis: 25%;
  padding: 1.5rem 1.5rem 0;
  color: #495057;
  border: none;
  background-color: #fff;
  border-color: transparent;
  border-top: 5px solid #01aeef;
}
.marketing {
  flex-basis: 25%;
  padding: 1.5rem 1.5rem 0;
  color: #495057;
  border: none;
  background-color: #fff;
  border-color: transparent;
  border-top: 5px solid #e94524;
}
.chat {
  flex-basis: 25%;
  padding: 1.5rem 1.5rem 0;
  color: #495057;
  border: none;
  background-color: #fff;
  border-color: transparent;
  border-top: 5px solid #f9ac1a;
}
.file {
  flex-basis: 25%;
  padding: 1.5rem 1.5rem 0;
  color: #495057;
  border: none;
  background-color: #fff;
  border-color: transparent;
  border-top: 5px solid #2d9470;
}
.nav-tap-content strong {
  display: block;
}
.nav-tap-content p {
  line-height: 1.9;
  margin-top: 0;
}
.video-img img {
  width: 100%;
}
.btn-video {
  width: 100%;
}
.btn-video img {
  width: 100px;
}
.video-img {
  position: relative;
}
.btn-video {
  width: 100%;
  margin: 0 auto;
}
.btn-video a {
  position: absolute;
  top: 48%;
  left: 46%;
}
.btn-video img {
  transition: ease-out 1s;
}
.btn-video a :hover {
  transition: 1s;
  scale: 1.2;
}
.address {
  width: 100%;
  margin-top: 75px;
}
.address-content {
  display: flex;
  border-radius: 8px;
  margin-bottom: 60px;
  padding: 100px 60px 80px 60px;
  background-color: #2e367d;
}
.address-left h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
}
.address-left p {
  color: #fff;
  line-height: 1.9;
}
.address-right h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
}
.address-right p {
  color: #fff;
  line-height: 1.9;
}
.address-left {
  flex-basis: 50%;
}
.address-right {
  flex-basis: 50%;
}
.footer {
  width: 100%;
  padding: 30px 0 20px;
}
.footer-content {
  display: flex;
}
.f-address {
  flex-basis: 25%;
}
.f-connect {
  flex-basis: 25%;
}
.f-links {
  flex-basis: 25%;
}
.f-s-links {
  flex-basis: 25%;
}
.f-address h5 {
  color: #1e266d;
  font-size: 16px;
  margin-bottom: 0px;
}
.f-address p {
  color: #91a3bb;
  line-height: 1.9;
  padding-right: 17px;
  margin-top: 10px;
}
.f-connect h5 {
  color: #1e266d;
  font-size: 16px;
  margin-bottom: 0px;
}
.f-connect p {
  color: #91a3bb;
  line-height: 1.9;
  padding-right: 17px;
  margin-top: 10px;
}
.f-links h5 {
  color: #1e266d;
  font-size: 16px;
  margin-bottom: 0px;
}
.f-links ul {
  list-style: none;
  padding-left: 0px;
  color: #91a3bb;
  line-height: 28px;
  cursor: pointer;
}
.hover :hover {
  color: #2e367d;
}
.hover li {
  transition: 0.5s;
}
.hover li:hover {
  transition: 0.5s;
  margin-left: 12px;
}
.f-s-links ul {
  list-style: none;
  padding-left: 0px;
  color: #91a3bb;
  line-height: 28px;
  cursor: pointer;
}
.f-s-links h5 {
  color: #1e266d;
  font-size: 16px;
  margin-bottom: 0px;
}
.partner {
  width: 100%;
}
.partner-content img {
  width: 100%;
}
.copyright {
  text-align: center;
}
.copyright p {
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #2e367da1;
  font-size: 14px;
}
